#root{
  padding: 10px;
  
}

.barra{
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(7, 7, 115);
  border-radius: 20px;
  overflow: hidden;
  
}

.lista{
  width: 60%;
  height: 100%;
  border-right: 2px solid rgb(7, 7, 115);
  padding: 5px;
  display: flex;
  align-items: center;
 
}

.lista ul{
  width: 100%;
  height: 100%;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;  
}

li a:link, a:visited, p{
  text-decoration: none;
  font-size: 30px ;
  color:rgb(7, 7, 115) ;
}

.logo{
  
  width: 20%;
  padding: 5px;
  border-right:2px solid rgb(7, 7, 115);
 
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carro{
  width: 20%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.carro img{
  width: 90%;
  height: 100%;
  overflow-x:hidden ;
  
}

